#root
  background: url(../images/fondo_con_letras.svg) no-repeat center center

.dropzone
  background-color: #ccc
  border: dashed 4px transparent
  transition: background-color 0.3s
  width: 200px
  height: 200px
  display: inline-block

.drop-active
  border-color: #aaa

.drop-target
  background-color: #29e
  border-color: #fff
  border-style: solid

.draggable
  touch-action: none
  user-select: none
  width: 200px
  height: 200px
  background: grey
  position: absolute
  display: inline-block
  width: 200px
  height: 200px
  color: #fff
  background: #fff url(../images/mapa.png)
  border: solid 2px #aaa
  touch-action: none
  transform: translate(0px, 0px)
  transition: background-color 0.3s

  &.can-drop
    color: #000
    background-color: #4e4
