html, body
  margin: 0 auto
  padding: 0
  height: 100%
  text-align: center

#root
  background: url(../images/fondo_con_letras.svg) no-repeat center center
  height: 100%

.puzzle
  margin: 0 auto
  padding-top: 250px

.tile
  touch-action: none
  user-select: none
  transition: background-color 0.3s
  background: #fff url(../images/mapa.png)

.draggable
  z-index: 100
  position: absolute
  &.can-drop
    background-color: #4e4

.dropzone
  float: left
  position: relative
  &::before
    box-sizing: border-box
    background: white
    border: dashed 4px transparent
    opacity : 0.5
    display: block
    width: 100%
    height: 100%
    content: ""

.drop-active
  &::before
    border-color: #aaa

.drop-target
  &::before
    background-color: #29e
    border-color: #fff
    border-style: solid

